
<header class="header">
    <div class="container">
        <nav class="navbar">
            <a href="/" class="logo">
                <img src="https://www.portillos.com/assets/1/6/Open-graph-new.jpg" alt="">
            </a>

            <ul class="navlist">
                <li>
                    <a href="/">Color</a>
                </li>

                <li>
                    <a href="/shadow">Box Shadow</a>
                </li>

                <li>
                    <a href="/password">Password</a>
                </li>
            </ul>
        </nav>
    </div>
</header>