<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/password.css">
    <script src="https://kit.fontawesome.com/9910778df0.js" crossorigin="anonymous"></script>
    <%- include('../partials/headers.ejs'); %>
</head>

<body>

    <%- include('../partials/nav.ejs'); %>

        <div class="container">
            <div id="center">
                <h1 class="text">Password Generator</h1>

                <div class="input">
                    <input type="text" id="resultInput" readonly>
                    <span id="copy"><i class="fa-solid fa-copyright"></i></span>
                </div>

                <div class="main">
                    <li>
                        <h3>Password length</h3>
                        <input type="number" id="passLength" value="0">
                    </li>

                    <li>
                        <h3>Include uppercase letter</h3>
                        <input type="checkbox" id="uppercase">
                    </li>

                    <li>
                        <h3>Include lowercase letter</h3>
                        <input type="checkbox" id="lowercase">
                    </li>

                    <li>
                        <h3>Include symbols</h3>
                        <input type="checkbox" id="symbol">
                    </li>

                    <button class="btn">Generator Password</button>

                </div>

            </div>

        </div>

        <script src="js/password.js"></script>

</body>

</html>