@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
}


.container{
    width: 100%;
    height: 80%;
    display: grid;
    place-items: center;
}

#center{
    width: 45%;
    padding: 20px;
    background-color: rgb(42, 40, 180);
}

.text{
    text-align: center;
    font-size: 40px;
    padding: 20px 0;
    color: #dad3d3;
    font-weight: 600;
}
.input{
    width: 100%;
    position: relative;
}

.input input{
    border: none;
    outline: none;
    height: 55px;
    padding: 4px 10px;
    background-color: rgb(8, 6, 112);
    width: 100%;
    font-size: 18px;
    color: #ccc;
}

.input span{
    position: absolute;
    top: 7px;
    cursor: pointer;
    right: 15px;
    transition: all .2s ease;
}

.input span i{
    font-size: 40px;
    transition: all .2s ease;
    color: white;
}

.input span:hover i{
    color: rgb(42, 40, 180);
}

.main li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main{
    display: flex;
    padding-top: 25px;
    flex-direction: column;
    gap: 20px;
}


.main li h3{
    font-size: 22px;
    font-weight: 500;
    color: #ccc;
}

.main li input[type = 'number']{
    width: 65px;
    border: none;
    outline: none;
    height: 30px;
    font-size: 17px;
    padding: 2px 6px;
    border-radius: 5px;
}

.main li input[type = 'checkbox']{
    width: 20px;
    height: 20px;
}

.btn{
    width: 100%;
    background-color: rgb(8, 6, 112);
    color: #dadada;
    border: none;
    outline: none;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 20px;
    transition: all .2s ease;
}

.btn:hover{
    background-color: rgb(17, 14, 156);
    cursor: pointer;
}